@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

@media only screen and (min-width: 901px) {
    .destinos {
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-auto-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            'porto madeira funchal eletrico eletrico'
            'lisboa lisboa saomiguel eletrico eletrico';
        grid-gap: 10px;
    }
}

@media only screen and (max-width: 900px) {
    .destinos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 1fr 1fr;
        grid-template-areas:
            'porto madeira'
            'funchal saomiguel '
            'lisboa lisboa'
            'eletrico eletrico'
            'eletrico eletrico';
        grid-gap: 10px;
    }
}

* {
    font-family: 'Titillium Web', sans-serif;
    position: relative;
}

* h1 {
    align-items: center;
    color: white;
}

.capitais {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    opacity: 80%;
}

.capitais > div {
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    box-shadow: 5px 5px 15px;
    margin: 10px;
}

.capitais img {
    border-radius: 20px 0 0 20px;
    height: 100%;
}

.capitais div div:last-child {
    width: 150px;
    background-color: aquamarine;
    padding: 20px;
    border-radius: 0 20px 20px 0;
    display: flex;
    align-items: center;
}


.menu div {
    display: flex;
    background-color: silver;
    opacity: 80%;
    color: whitesmoke;
}

.menu a {
    padding: 20px;
    text-decoration: none;
    text-decoration-color: aqua;
}

.menu a:last-child {
    margin-left: auto;
}

#myvideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.heroimage {
    position: relative;
    height: 90vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../images/hero.webp");
}


.dicas {
    display: flex;
    flex-flow: row wrap;
    position: relative;
}

.dicas > div {
    width: 388px;
    height: 288px;
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    box-shadow: 5px 5px 15px;
    margin: 10px;
    padding: 10px 20px;
    background-color: aquamarine;
    align-content: baseline;
    opacity: 80%;
}

.dicas h1 {
    font-size: 25px;
}

.destinos div {
    padding: 10px 20px;
    justify-content: space-around;
    box-shadow: 5px 5px 15px;
    margin: 10px;
    opacity: 97%;
    filter: brightness(88%);
}


.destinos h2 {
    color: white;
    font-family: 'League Gothic', sans-serif;
    top: 0;
    left: 0;
    font-size: 10px;
}

.destinos h3 {
    color: white;
    font-family: 'League Gothic', sans-serif;
    position: absolute;
    bottom: 12px;
    left: 5px;
    font-size: 10px;
}

.destinos p {
    color: white;
    font-family: 'Holtwood One SC', serif;
    font-size: 10px;
    position: absolute;
    bottom: 0;
    left: 5px;
}

.porto {
    background-image: url("../images/porto.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    grid-area: porto;
    position: relative;
}

.lisboa {
    background-image: url("../images/lisboa.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    grid-area: lisboa;
    position: relative;
}

.madeira {
    background-image: url("../images/madeira.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    grid-area: madeira;
    position: relative;
}

.funchal {
    background-image: url("../images/funchal.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    grid-area: funchal;
    position: relative;
}

.saomiguel {
    background-image: url("../images/saomiguel.avif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    grid-area: saomiguel;
    position: relative;
}

.eletrico {
    grid-area: eletrico;
    height: fit-content;
}

.eletrico div {
    padding: 10px 20px;
    justify-content: space-around;
    box-shadow: none;
    margin: unset;
}

.eletrico h4 {
    color: white;
}

.eletrico img {
    max-width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

a:hover {
    color: darkgray;
    font-weight: bold
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.paralax1 {
    background-image: url("https://source.unsplash.com/xg8z_KhSorQ");

    min-height: 200px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.paralax2 {
    background-image: url("https://source.unsplash.com/xg8z_KhSorQ");
    min-height: 200px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}